:root {
    /* */
    --color-text: #fff;
    --color-primary: #dc51ae;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /* FONTS */

    --font-roboto: "Roboto";
}